.bar{
    max-width: 220px;
    margin-left: 40%;
}
.butt{
    margin-bottom: 0px;
    margin-left: 13%;
    margin-top: 0px;
}
.inputhere{
    margin-left: 41%;
    margin-top: 5px;

}
.inputhere1{
    margin-left: 1.8%;
    margin-top: 3px;

}
.all{
    background-color: #bfbfbf;
}